/*
* @Author: Leander Dirkse
* @Date:   2016-05-26 20:37:28
* @Last Modified by:   leander
* @Last Modified time: 2016-05-26 20:38:54
*/


.page-animation--fade.ng-enter {
    transition : opacity 1000ms;
    opacity    : 0;
}

.page-animation--fade.ng-enter-active {
    opacity : 1;
}