/*
* @Author: Leander Dirkse
* @Date:   2016-05-26 19:47:11
* @Last Modified by:   leander
* @Last Modified time: 2016-05-26 20:41:34
*/

body {
    background-color : yellow;
    color            : blue;
    font-family      : 'Indie Flower';
    font-size        : 24px;
}