
        <!-- build:js js/config.js -->
        <script src="js/config.js"></script>
        <!-- endbuild -->

        <!-- build:js js/libs.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js js/app.js -->
        <script src="js/angular/modules/app.js"></script>

        <script src="js/angular/controllers/sampleController.js"></script>
        <script src="js/angular/directives/sampleDirective.js"></script>
        <script src="js/angular/factories/sampleFactory.js"></script>
        <script src="js/angular/services/sampleService.js"></script>

        <script src="js/angular/modules/app-config.js"></script>
        <script src="js/angular/modules/app-run.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>