<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app='AngularBootstrap'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular bootstrap project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- bower:css -->
        <!-- endbower -->

        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class='{{ state.name }}'>